.articles{
    margin-top: 10px;
    margin-left: 70px;
    margin-bottom: 10px;
}

.share{
    background-color: white;
    border-radius: 8px;
    height: 128px;
    width: 675px;
}
.mine{
    margin: 25px;
}
.mine img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 10px;
}
.mine input{
    width: 450px;
    height: 50px;
    border-radius:60px ;
    position: relative;
    top: -24px;
    margin-left: 13px;
    cursor: pointer;
    padding-left: 30px;
}
.mine input:hover{
    background-color: #eee;
}
.postkind{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: -40px;
    
}
.postkind  div{
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center; 
    padding: 4px;
}
.postkind div p{
margin-top: 0px;
font-size: 10px;
}
.postkind div:hover{
    background-color: #eee;
   border-radius: 4px;
}

.postkind img{
    width: 25px;
    height: 25px;
    
}
.explore{
    margin-top: 20px;
}
.author img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
#name{
    margin-top: -40px;
}
#nick{
    margin-top: -10px;
    font-size: 12px;
    margin-left: 40px;
}
article{
    width: 640px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-top: 10px;
}
section{
    text-align: center;
}
.react_comment{
    margin-top: 20px;
    border-top: 2px solid black;
    padding-top: 30px;
}
.react_comment img{
    width: 30px;
    height: 30px;
    margin-left: 130px;
    cursor: pointer;
    
}

.react_comment img:hover{
    filter: opacity(40%);
}